/* Twitter Typeahead */

.tt-query {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
	color: #999
}

.tt-dropdown-menu {
	width: 422px;
	margin-top: 12px;
	padding: 8px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
	padding: 3px 20px;
	line-height: 24px;
}

.tt-suggestion.tt-cursor {
	color: #fff;
	background-color: #0097cf;
}

.tt-suggestion p {
	margin: 0;
}

.twitter-typeahead {
	width: 100%;
	position: relative;
}
.twitter-typeahead .tt-query, .twitter-typeahead .tt-hint {
	margin-bottom: 0;
	width: 100%;
	height: 34px;
	position: absolute;
	top: 0;
	left: 0;
}

/* Labels */

.label-draft {
	background-color: #999999;
}
.label-sent {
	background-color: #3A87AD;
}
/*.label-viewed {
 background-color: #F89406;
 }*/
.label-paid {
	background-color: #468847;
}
.label-approved {
	background-color: #468847;
}
.label-rejected, .label-overdue {
	background-color: #B94A48;
}
.label-canceled {
	background-color: #333333;
}

.form-box .header {
	background: none repeat scroll 0 0 #0073B7;
}

.skin-blue .navbar .dropdown-menu > li > a:hover {
	color: #fff;
}

.form-horizontal .form-group {
	margin-left: 0;
	margin-right: 0;
}

#item-table tr.item {
	cursor: move;
}

.small-box h3 {
	font-size: 32px;
}

.equal, .equal > div[class*='col-'] {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex: 1 1 auto;
}

.pull-right .dropdown-menu:after {
	left: auto;
	right: 13px;
}
.pull-right .dropdown-menu {
	left: auto;
	right: 0;
}

.form-control {
	display: initial;
}

.ui-dialog-titlebar-close {
	float: right;
	height: 100%;
}

.ui-dialog {
	padding: 0;
	border: 1px solid #707070;
	border-radius: 2px;
	box-shadow: 0 0 32px rgba(0,0,0,0.8);
	background: none;
}

.ui-dialog .ui-dialog-titlebar {
	padding: 12px;
	height: 35px;
	border-radius: 2px 2px 0 0;
	border: none;
	background: url('../img/dialog/dialog-titlebar.png') repeat-x #b3bfcb;
	border-bottom: 1px solid #97a6b5;
	text-align: center;
}

.ui-dialog .ui-dialog-title {
	float: none;
	margin: 0;
}

.ui-dialog .ui-dialog-titlebar-close {
	text-decoration: none;
	font-weight: bold;
	color: #1c456f;
}

.ui-dialog .ui-dialog-titlebar-close.ui-state-hover {
	border: 1px solid #5f0808;
	background: url('../img/dialog/dialog-titlebar-close-hover.png') repeat-x #6b1717;
	box-shadow: inset 0 1px rgba(255,255,255,0.28);
}

.ui-dialog .ui-dialog-titlebar-close span {
	background: none;
}

.ui-dialog .ui-dialog-titlebar-close span:before {
	content: 'x';
	display: block;
	text-indent: 0;
}

.ui-dialog .ui-dialog-content {
	width: 92.5%;
	max-width: 500px;
	margin: 10% auto 15px auto;
	padding: 0;
	position: relative;
	top: -15px;
}

.ui-dialog .header.button {
	position: absolute;
	top: -34px;
}

.ui-dialog .header.button.right {
	right: 5px;
}

.ui-dialog .header.button.left {
	left: 5px;
}

.ui-dialog .ui-dialog-content {
	border-radius: 0 0 2px 2px;
}

.ui-dialog .actions:before, .ui-dialog .actions:after {
	display: table;
	content: '';
}

.ui-dialog .actions:after {
	clear: both;
}

.ui-dialog .actions {
	width: 100%;
	position: relative;
	left: -25px;
	bottom: -10px;
	padding: 10px 25px;
	overflow: hidden;
	background: #f0f0f0;
	border-top: 1px solid #d7d7d7;
	border-radius: 0 0 2px 2px;
}

.ui-dialog .ui-dialog-buttonpane {
	margin: 0;
	border-top: 1px solid #d7d7d7;
	border-radius: 0 0 2px 2px;
}

.ui-dialog .actions .left {
	float: left;
}

.ui-dialog .actions .right {
	float: right;
}

.ui-widget-overlay {
	z-index: 9999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	background: #ffffaa;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4zIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC43MyIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -webkit-radial-gradient(50% 50% , ellipse closest-corner, rgba(0, 0, 0, 0.3) 1%, rgba(0, 0, 0, 0.725) 100%) repeat scroll 0 0 transparent;
	background: -moz-radial-gradient(50% 50% , ellipse closest-corner, rgba(0, 0, 0, 0.3) 1%, rgba(0, 0, 0, 0.725) 100%) repeat scroll 0 0 transparent;
	background: -o-radial-gradient(50% 50% , ellipse closest-corner, rgba(0, 0, 0, 0.3) 1%, rgba(0, 0, 0, 0.725) 100%) repeat scroll 0 0 transparent;
	background: -ms-radial-gradient(50% 50% , ellipse closest-corner, rgba(0, 0, 0, 0.3) 1%, rgba(0, 0, 0, 0.725) 100%) repeat scroll 0 0 transparent;
	background: radial-gradient(50% 50% , ellipse closest-corner, rgba(0, 0, 0, 0.3) 1%, rgba(0, 0, 0, 0.725) 100%) repeat scroll 0 0 transparent;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto !important;
	height: auto !important;
}

.ui-dialog {
	z-index: 99999;
	background-color: #FFF;
	position: absolute;
	padding: .2em;
	width: 300px;
	overflow: hidden;
}
.ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
}
.ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 16px .1em 0;
}
.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 19px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 18px;
}
.ui-dialog .ui-dialog-titlebar-close span {
	display: block;
	margin: 1px;
}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {
	padding: 0;
}
.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	background: none;
	overflow: auto;
	width: 92.5%;
	max-width: 500px;
	margin: 10% auto 15px auto;
	padding: 0;
	top: -15px;
}
.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin: .5em 0 0 0;
	padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
}
.ui-dialog .ui-resizable-se {
	width: 14px;
	height: 14px;
	right: 3px;
	bottom: 3px;
}
.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}

.ui-dialog .ui-dialog-title {
	font-size: 17px;
	font-weight: bold;
	color: #1e4063;
	text-shadow: 0 1px 0 rgba(255,255,255,0.9);
}

.ui-dialog .ui-dialog-titlebar-close.ui-state-hover {
	color: #fff;
	text-shadow: 0 1px #000;
	font-size: 14px;
	line-height: 14px;
}

#mudar_perfil td {
	padding: 5px;
}

.box-wrap {
	display: none;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	right: 0;
	margin: auto 20px;
	z-index: 999999999999999;
	margin-top: 3%;
	background-color: #FFF;
	padding: 10px;
	box-shadow: rgba(125, 125, 125, 0.701961) 0px 0px 10px 2px;
	border-radius: 5px;
	left: 50%;
	transform: translate(-50%, 0);
}

#overlay {
	opacity: 0.7;
	background: #000;
	position: fixed;
	width: 104%;
	height: 104%;
	display: none;
	z-index: 9999999999999999;
}

.tooltipx {
	display: inline;
	position: relative;
}

.tooltipx:hover:after {
	background: rgba(60,141,188,1);
	border-radius: 5px;
	top: 60px;
	color: #fff;
	content: attr(data-title);
	right: 0;
	padding: 5px 15px;
	position: absolute;
	z-index: 98;
	width: 300%;
}

.tooltipx:hover:before {
	border: solid;
	border-color: rgba(60,141,188,1) transparent;
	border-width: 0px 6px 6px 6px;
	top: 54px;
	content: "";
	left: 50%;
	position: absolute;
	z-index: 99;
}

@media (max-width: 767px) {
	.navbar-nav .open .dropdown-menu {
		background-color: #ffffff;
	}

	.box-wrap {
		transform: translate(0, 0);
		left: 0;
	}

	.navbar-nav .open .dropdown-menu {
		float: none;
		width: auto;
		margin-top: 0;
		position: absolute;
		right: 0;
		left: auto;
		border: 1px solid rgba(0,0,0,.15);
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

.small-box {
	position: relative;
	display: block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-bottom: 15px;
}
.small-box > .inner {
	padding: 10px;
}
.small-box > .small-box-footer {
	position: relative;
	text-align: center;
	padding: 3px 0;
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
	display: block;
	z-index: 10;
	background: rgba(0, 0, 0, 0.1);
	text-decoration: none;
}
.small-box > .small-box-footer:hover {
	color: #fff;
	background: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
	font-size: 30px;
	font-weight: bold;
	margin: 0 0 10px 0;
	white-space: nowrap;
	padding: 0;
}
.small-box p {
	font-size: 18px;
}
.small-box p > small {
	display: block;
	color: #f9f9f9;
	font-size: 13px;
	margin-top: 5px;
}
.small-box h3, .small-box p {
	z-index: 5px;
}
.small-box .icon {
	position: absolute;
	top: auto;
	bottom: 5px;
	right: 5px;
	z-index: 0;
	font-size: 90px;
	color: rgba(0, 0, 0, 0.15);
}
.small-box:hover {
	text-decoration: none;
	color: #f9f9f9;
}
.small-box:hover .icon {
	animation-name: tansformAnimation;
	animation-duration: .5s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	-webkit-animation-name: tansformAnimation;
	-webkit-animation-duration: .5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-name: tansformAnimation;
	-moz-animation-duration: .5s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: forwards;
}
@keyframes tansformAnimation {
from {
	font-size: 90px;
}
to {
	font-size: 100px;
}
}
@-webkit-keyframes
tansformAnimation {from {
	font-size: 90px;
}
to {
	font-size: 100px;
}
}
@media screen and (max-width: 480px) {
	.small-box {
		text-align: center;
	}
	.small-box .icon {
		display: none;
	}
	.small-box p {
		font-size: 12px;
	}
}

.bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, .bg-black {
	color: #f9f9f9 !important;
}
.bg-gray {
	background-color: #eaeaec !important;
}
.bg-black {
	background-color: #222222 !important;
}
.bg-red {
	background-color: #f56954 !important;
}
.bg-yellow {
	background-color: #f39c12 !important;
}
.bg-aqua {
	background-color: #00c0ef !important;
}
.bg-blue {
	background-color: #0073b7 !important;
}
.bg-light-blue {
	background-color: #3c8dbc !important;
}
.bg-green {
	background-color: #00a65a !important;
}
.bg-navy {
	background-color: #001f3f !important;
}
.bg-teal {
	background-color: #39cccc !important;
}
.bg-olive {
	background-color: #3d9970 !important;
}
.bg-lime {
	background-color: #01ff70 !important;
}
.bg-orange {
	background-color: #ff851b !important;
}
.bg-fuchsia {
	background-color: #f012be !important;
}
.bg-purple {
	background-color: #932ab6 !important;
}
.bg-maroon {
	background-color: #85144b !important;
}

